# Using Ignore List from link as initial base:
#  http://unity3diy.blogspot.com/2014/06/using-git-with-3d-games-source-control_8.html
# =============== 
# Unity generated
# ===============
/Temp/
/Library/
/UnityGenerated/
/Build/
sysinfo.txt



# =====================================
# Visual Studio / MonoDevelop generated
# =====================================
/ExportedObj/
/Obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
/Assets/UnityVS/
/Assets/UnityVS.meta



# ============
# OS generated
# ============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Icon?