# Using Ignore List from:
#  http://unity3diy.blogspot.com/2014/06/using-git-with-3d-games-source-control_8.html
# =============== 
# Unity generated
# ===============
Temp/
Library/
Obj/
UnityGenerated/


# =====================================
# Visual Studio / MonoDevelop generated
# =====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
# Visual Studio
UnityVS/
UnityVS.meta



# ============
# OS generated
# ============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db